/AIR.class
/AMR.class
/AND.class
/AbstractInstruction.class
/CHK.class
/CNVRT.class
/DVD.class
/FADD.class
/FSUB.class
/HLT.class
/IN.class
/JCC.class
/JGE.class
/JMA.class
/JNE.class
/JSR.class
/JZ.class
/LDA.class
/LDFR.class
/LDR.class
/LDX.class
/MLT.class
/NOT.class
/ORR.class
/OUT.class
/RFS.class
/RRC.class
/SIR.class
/SMR.class
/SOB.class
/SRC.class
/STFR.class
/STR.class
/STX.class
/TRAP.class
/TRR.class
/VADD.class
/VSUB.class
